{% block content %}

    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card border-info" id="personelarama">
                        <div class="card-header">
                            Personel Arama Ekranı
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form action="{% url 'results' %}" method="GET" id="formresult">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form class="form-inline">

                                                    <div class="form-group mx-sm-3 mb-2">
                                                        <div class="input-group mb-2">

                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">İsim,Tc,Sicil</div>
                                                            </div>
                                                            <label for="ara" class="sr-only">İsim,Tc,Sicil</label>
                                                            <input name="q" type="search" class="form-control" id="ara"
                                                                   placeholder="Ara">
                                                        </div>
                                                    </div>

                                                </form>

                                            </div>

                                        </div>
                                    </form>


                                </div>

                            </div>


                        </div>
                        <div class="card-footer" id="personelaramafooter">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input class="btn btn-primary border-light" type="submit" id="submitbuton"
                                           form="formresult" value="Ara">
                                    <input class="btn btn-success border-light" type="submit" id="yenibuton"
                                           form="formresult" onclick="sifirlama()" value="Sıfırla">

                                </div>
                                <script>
                                    function sifirlama() {
                                        document.getElementById("formresult").reset();
                                    }


                                </script>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card border-info">
                        <h5><span class="badge badge-secondary">Bulunan Personel</span></h5>

                        <div
                                class="table-responsive-lg table-responsive-md table-responsive-sm pre-scrollable table-danger table-striped table-bordered table-hover ">
                            <table>
                                <thead class="thead-info">
                                <tr>
                                    <th scope="col">Seç</th>


                                    <th scope="col">İsim</th>

                                    <th scope="col">Sicil</th>
                                    <th scope="col">TC</th>
                                    <th scope="col">Departman</th>


                                </tr>
                                </thead>

                                <tbody>
                                {% for ara in personel %}

                                    <tr>
                                        <td align='center'>
                                            <form action="{% url 'sec' %}" method="GET" id="formsec" name="formsecc">
                                                <div class="form-group">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-secondary rounded" type="submit"
                                                                    value={{ ara.sicil }}
                                                                            name="qq">Seç
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>


                                        </td>
                                        <td>{{ ara.isim }}</td>
                                        <td>{{ ara.sicil }}</td>
                                        <td>{{ ara.tc }}</td>
                                        <td>{{ ara.adres }}</td>


                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
{% endblock %}
