{% block sec %}
    <div class="row">
        <div class="col-lg-12">

            <div class="card mb-4 border-info" style="min-height: 20em;">
                <div class="card-header"><h4><span class="badge badge-secondary mx-4">Personel Bilgileri</span></h4>
                </div>
                <div class="row ">
                    {% if personeltek %}

                        <div class="col-md-2 my-4">

                            <img src="{{ personeltek.foto.url }}" style="width: 10em; height:10em;" class="card-img"
                                 alt="...">

                        </div>
                        <div class="col-md-6">
                            <div class="card-body">

                                <h4 class="card-title">İsim Soyisim: {{ personeltek.isim }}</h4>

                                <h5>Sicil: {{ personeltek.sicil }} </h5>
                                <h5>TC No: {{ personeltek.tc }}</h5>

                                <p class="card-text">Departman: {{ personeltek.adres }}</p>
                                <p class="card-text"><small
                                        class="text-muted">Telefon: {{ personeltek.telefon }}</small></p>
                            </div>
                        </div>

                        </div>

                    {% endif %}


            </div>
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="card mb-4 border-info" style="min-height: 20em;">
                        <div class="card-header"><h4><span class="badge badge-secondary ">Formlar</span></h4>
                        </div>
{#                        <form action="{% url 'askerlikdilekce' %}" method="GET" id="formpdf">#}
{#                            <input type=search#}
{#                                   value={{ personeltek.sicil }}#}
{#                                           style="width:100%"#}
{#                                   name="qt">#}
{##}
{##}
{#                        </form>#}

                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Askerlik Formları
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">

                                            <form action="{% url 'askerlikdilekce' %}" method="GET" name="ayrilistarihi">
                                                <div class="col-lg-12">
                                                 <div class="form-group row">
                                            <label for="example-date-input" class="col-2 col-form-label">Ayrılış Tarihi </label>
                                            <div class="col-6">
                                                <input class="form-control" type="date" value="2020-08-19"
                                                       id="example-date-input" name="ayrilistarihi">
                                            </div>
                                        </div>
                                            </div>
                                            </form>
                                            <div class="col-lg-12 mb-4">
                                                 <input class="btn btn-success border-light" type="submit" id="submitbuton"
                                               form="ayrilistarihi" value="Askerlik Dilekçesi" data-toggle="modal"
                                               data-target="#formpdf">
                                        <br>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            Diğer Askerlik Formları
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        Diğer Askerlik Formları
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            Diğer Askerlik Formları
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionExample">
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-6 ">
                    <div class="card mb-4 border-info" style="min-height: 20em;">
                        <div class="card-header"><h4><span class="badge badge-secondary ">Üst Yazılar</span></h4>
                        </div>
                        <form action="{% url 'askerlikustyazi' %}" method="GET" id="formpdf">
                            <input type=hidden
                                   value={{ personeltek.sicil }}
                                           data-target={{ personeltek.sicil }}
                                   style="width:100%"
                                   name="qt">


                        </form>

                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Askerlik Üstyazıları
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <input class="btn btn-success border-light" type="submit" id="submitbuton"
                                               form="formpdf" value="Askerlik Üst Yazı" data-toggle="modal"
                                               data-target="#formpdf">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            Diğer Askerlik Üstyazıları

                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <form action="{% url 'askerlikustyazi' %}" method="GET" id="formpdfw">
                                            <input type=submit
                                                   value={{ personeltek.sicil }}
                                                           placeholder="seç"
                                                   data-target={{ personeltek.sicil }}
                                                           style="width:100%"
                                                   name="qt">
                                        </form>
                                        <input class="btn btn-success border-light" type="submit" id="submitbuton"
                                               form="formpdfw" value="Askerlik Üst Yazı">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            Diğer Askerlik Üstyazıları
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionExample">
                                    <div class="card-body">


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>


    </div>
    </div>
{% endblock %}
