<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
                                <thead class="thead-info">
                                <tr>
                                    <th scope="col">Sicil</th>

                                    <th scope="col">İsim</th>

                                    <th scope="col">Telefon</th>
                                    <th scope="col">TC</th>
                                    <th scope="col">Departman</th>


                                </tr>
                                </thead>

                                <tbody>
                                {% for ara in personel %}

                                    <tr>

                                        <td>{{ ara.isim }}</td>
                                        <td>{{ ara.sicil }}</td>
                                        <td>{{ ara.tc }}</td>
                                        <td>{{ ara.adres }}</td>


                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
</body>
</html>